.git
.github
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
prod-env.yaml
prod-secrets.env
venv
.venv
uploads
!uploads/.gitkeep
data
data_archive
test
tests
.pytest_cache
.DS_Store
*.md
*.zip
cloud-sql-proxy
pytest-of-root
.coverage
coverage.xml
pytest-of-root/
migrations/
scripts/elevenplus/*.md
scripts/elevenplus/*.json
