# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
*.log
*.pdf
*.HEIC
*.sqlit3
.coverage
migrations/
scripts/elevenplus/*.md
scripts/elevenplus/*.json

# 虚拟环境
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# 环境变量
.env
.env.*
!.env.example
.env.local
.env.*.local
prod-env.yaml
prod-secrets.env

# 系统文件
.DS_Store
Thumbs.db

# Gradio
.gradio/

# Jupyter
.ipynb_checkpoints/

# data archives
data_archive/
data/
uploads/

# test
.pytest_cache/
pytest-of-root/
scripts/test_vector.db