DEV_MODE: "false"
TESTING: "false"
ENFORCE_PRODUCTION_CONFIG: "true"
APP_BASE_URL: "https://homeworkmagic.co.uk"
PUBLIC_BASE_URL: "https://homeworkmagic.co.uk"
CORS_ORIGINS: "https://homeworkmagic.co.uk"
COOKIE_SECURE: "true"
TRUST_PROXY_HEADERS: "true"

ADMIN_EMAILS: "REPLACE_ADMIN_EMAILS"
DATA_CONTROLLER_NAME: "REPLACE_DATA_CONTROLLER_NAME"
PRIVACY_CONTACT_EMAIL: "REPLACE_PRIVACY_CONTACT_EMAIL"
PRIVACY_POSTAL_ADDRESS: "REPLACE_PRIVACY_POSTAL_ADDRESS"
BUSINESS_CONTACT_EMAIL: "REPLACE_BUSINESS_CONTACT_EMAIL"

SMTP_HOST: "REPLACE_SMTP_HOST"
SMTP_PORT: "587"
SMTP_USE_TLS: "true"
SMTP_USE_SSL: "false"
SMTP_USERNAME: "REPLACE_SMTP_USERNAME"
SMTP_FROM: "REPLACE_SMTP_FROM"

QUICK_REVIEW_PROVIDER: "deepseek"
DETAIL_REVIEW_PROVIDER: "vertex_ai"
GOOGLE_CLOUD_PROJECT: "REPLACE_GOOGLE_CLOUD_PROJECT"
GOOGLE_CLOUD_LOCATION: "europe-west2"

STRIPE_BILLING_ENABLED: "true"
STRIPE_EXPECTED_LIVEMODE: "true"
STRIPE_PRICE_TRIAL_5DAY: "REPLACE_STRIPE_PRICE_TRIAL_5DAY"
STRIPE_PRICE_HOMEWORK_MONTHLY: "REPLACE_STRIPE_PRICE_HOMEWORK_MONTHLY"
STRIPE_PRICE_ELEVENPLUS_MONTHLY: "REPLACE_STRIPE_PRICE_ELEVENPLUS_MONTHLY"
STRIPE_PRICING_TABLE_ID: "REPLACE_STRIPE_PRICING_TABLE_ID"
STRIPE_PUBLISHABLE_KEY: "REPLACE_STRIPE_PUBLISHABLE_KEY"

STORE_RAW_LEARNER_CONTENT: "false"
STORE_RAW_AI_CONTENT: "false"
BETA_ACCESS_ENABLED: "false"
BETA_ACCESS_MAX_FAMILIES: "30"
LEARNING_RECORD_RETENTION_DAYS: "365"
MAX_AI_CONCURRENCY: "20"
MAX_PROVIDER_CONCURRENCY: "24"
DB_POOL_SIZE: "3"
WEB_CONCURRENCY: "1"
